<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.module1.dao.IncomeDAO">

  <resultMap id="incomeMap" type="com.example.module1.model.entity.Income">
    <id property="id" jdbcType="BIGINT" column="id"/>
    <result property="categoryId" jdbcType="BIGINT" column="category_id"/>
    <result property="subCategoryId" jdbcType="BIGINT" column="sub_category_id"/>
    <result property="amount" jdbcType="DECIMAL" column="amount"/>
    <result property="memberId" jdbcType="BIGINT" column="member_id"/>
    <result property="userId" jdbcType="BIGINT" column="user_id"/>
    <result property="remark" jdbcType="VARCHAR" column="remark"/>
    <result property="date" jdbcType="BIGINT" column="date"/>
    <result property="createdBy" jdbcType="BIGINT" column="created_by"/>
    <result property="createdDate" jdbcType="BIGINT" column="created_date"/>
    <result property="modifiedBy" jdbcType="BIGINT" column="modified_by"/>
    <result property="modifiedDate" jdbcType="BIGINT" column="modified_date"/>
    <result property="status" jdbcType="TINYINT" column="status"/>
    <result property="ip" jdbcType="VARCHAR" column="ip"/>
  </resultMap>

  <resultMap id="incomeDTOMap" type="com.example.module1.model.dto.IncomeDTO" extends="incomeMap"></resultMap>

  <!--通用查询条件-->
  <sql id="basicParams">
        <if test="id != null">
          AND `id`=#{id}
        </if>
        <if test="categoryId != null">
          AND `category_id`=#{categoryId}
        </if>
        <if test="subCategoryId != null">
          AND `sub_category_id`=#{subCategoryId}
        </if>
        <if test="amount != null">
          AND `amount`=#{amount}
        </if>
        <if test="memberId != null">
          AND `member_id`=#{memberId}
        </if>
        <if test="userId != null">
          AND `user_id`=#{userId}
        </if>
        <if test="remark != null">
          AND `remark`=#{remark}
        </if>
        <if test="date != null">
          AND `date`=#{date}
        </if>
        <if test="createdBy != null">
          AND `created_by`=#{createdBy}
        </if>
        <if test="start != null and end != null">
          AND `created_date` BETWEEN #{start} AND #{ end}
        </if>
        <if test="modifiedBy != null">
          AND `modified_by`=#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
          AND `modified_date`=#{modifiedDate}
        </if>
        <choose>
          <when test="status != null">AND status = #{status}</when>
          <otherwise><![CDATA[AND status > 0]]></otherwise>
        </choose>
        <if test="ip != null">
          AND `ip`=#{ip}
        </if>
  </sql>

  <insert id="insert" parameterType="com.example.module1.model.entity.Income">
    INSERT INTO t_income (
        <if test="id != null">
            `id` 
        </if>
        <if test="categoryId != null">
            ,`category_id` 
        </if>
        <if test="subCategoryId != null">
            ,`sub_category_id` 
        </if>
        <if test="amount != null">
            ,`amount` 
        </if>
        <if test="memberId != null">
            ,`member_id`
        </if>
        <if test="userId != null">
            ,`user_id` 
        </if>
        <if test="remark != null">
            ,`remark` 
        </if>
        <if test="date != null">
            ,`date`
        </if>
        <if test="createdBy != null">
            ,`created_by` 
        </if>
        <if test="createdDate != null">
            ,`created_date` 
        </if>
        <if test="modifiedBy != null">
            ,`modified_by` 
        </if>
        <if test="modifiedDate != null">
            ,`modified_date` 
        </if>
        <if test="status != null">
            ,`status` 
        </if>
        <if test="ip != null">
            ,`ip`
        </if>
    ) VALUES (
        <if test="id != null">
              #{id}
        </if>
        <if test="categoryId != null">
              ,#{categoryId}
        </if>
        <if test="subCategoryId != null">
              ,#{subCategoryId}
        </if>
        <if test="amount != null">
              ,#{amount}
        </if>
        <if test="memberId != null">
              ,#{memberId}
        </if>
        <if test="userId != null">
              ,#{userId}
        </if>
        <if test="remark != null">
              ,#{remark}
        </if>
        <if test="date != null">
              ,#{date}
        </if>
        <if test="createdBy != null">
              ,#{createdBy}
        </if>
        <if test="createdDate != null">
              ,#{createdDate}
        </if>
        <if test="modifiedBy != null">
              ,#{modifiedBy}
        </if>
        <if test="modifiedDate != null">
              ,#{modifiedDate}
        </if>
        <if test="status != null">
              ,#{status}
        </if>
        <if test="ip != null">
              ,#{ip}
        </if>
    )
  </insert>

  <insert id="insertList" parameterType="List">
    INSERT INTO t_income (
        `id`,
        `category_id`,
        `sub_category_id`,
        `amount`,
        `member_id`,
        `user_id`,
        `remark`,
        `date`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `status`,
        `ip`
    ) VALUES
    <foreach collection="list" item="data" separator=",">
      (
        #{data.id},
        #{data.categoryId},
        #{data.subCategoryId},
        #{data.amount},
        #{data.memberId},
        #{data.userId},
        #{data.remark},
        #{data.date},
        #{data.createdBy},
        #{data.createdDate},
        #{data.modifiedBy},
        #{data.modifiedDate},
        #{data.status},
        #{data.ip}
      )
    </foreach>
  </insert>

  <update id="update" parameterType="com.example.module1.model.entity.Income">
    UPDATE t_income
    <set>
        <if test="id != null">
          `id`=#{id},
        </if>
        <if test="categoryId != null">
          `category_id`=#{categoryId},
        </if>
        <if test="subCategoryId != null">
          `sub_category_id`=#{subCategoryId},
        </if>
        <if test="amount != null">
          `amount`=#{amount},
        </if>
        <if test="memberId != null">
            `member_id`=#{memberId},
        </if>
        <if test="userId != null">
          `user_id`=#{userId},
        </if>
        <if test="remark != null">
          `remark`=#{remark},
        </if>
        <if test="date != null">
          `date`=#{date},
        </if>
        <if test="createdBy != null">
          `created_by`=#{createdBy},
        </if>
        <if test="createdDate != null">
          `created_date`=#{createdDate},
        </if>
        <if test="modifiedBy != null">
          `modified_by`=#{modifiedBy},
        </if>
        <if test="modifiedDate != null">
          `modified_date`=#{modifiedDate},
        </if>
        <if test="status != null">
          `status`=#{status},
        </if>
        <if test="ip != null">
          `ip`=#{ip},
        </if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <choose>
        <when test="status != null ">AND status = #{status.value}</when>
        <otherwise><![CDATA[AND status > 0]]></otherwise>
      </choose>
        AND id = #{id}
    </trim>
  </update>

  <update id="delete" parameterType="Map">
      UPDATE t_income
      SET `status`=0,`modified_by`=#{modifiedBy},`modified_date`=#{modifiedDate}
      WHERE id = #{id}
  </update>

  <delete id="pdelete" parameterType="Map">
      DELETE FROM t_income
      WHERE id = #{id}
  </delete>

  <select id="count" parameterType="Map" resultType="Integer">
    <![CDATA[
            SELECT COUNT(DISTINCT id) FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
  </select>

  <select id="selectOne" parameterType="Map" resultMap="incomeMap">
    <![CDATA[
            SELECT * FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    LIMIT 1
  </select>

  <select id="selectOneDTO" parameterType="Map" resultMap="incomeDTOMap">
    <![CDATA[
            SELECT * FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    LIMIT 1
  </select>

  <select id="select" parameterType="Map" resultMap="incomeMap">
    <![CDATA[
            SELECT * FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectDTO" parameterType="Map" resultMap="incomeDTOMap">
    <![CDATA[
            SELECT * FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <select id="selectMap" parameterType="Map" resultType="Map">
    SELECT
    <foreach collection="columns" item="cname" separator="," open="`" close="`">
        ${cname}
    </foreach>
    FROM t_income
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    <if test="scs != null and scs.size() > 0">
      ORDER BY
      <foreach collection="scs" item="sc" separator=",">
          ${sc.field} ${sc.order}
      </foreach>
    </if>
    <if test="pc != null">
      LIMIT ${pc.startIndex}, ${pc.pageSize}
    </if>
  </select>

  <!--统计相关查询-->
  <select id="groupCount" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>

  <select id="sum" parameterType="Map" resultType="Double">
    <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
  </select>

  <select id="groupSum" parameterType="Map" resultType="Map">
    <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum` FROM t_income
        ]]>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <!-- 通用条件引入 -->
      <include refid="basicParams"/>
    </trim>
    GROUP BY `group`
    ORDER BY `group` ASC
  </select>

</mapper>
